<link href="https://fonts.googleapis.com/css?family=Droid Sans" rel="stylesheet">

<style>


	.page-header {
		text-align: center;
		padding: 20px;
		background-color: #dff0d8;
		color: rgb(0, 176, 189);
		font-family: Oswald, sans-serif;
		margin-bottom: 0px;
	}  

	#custIntro {
		padding: 30px;
		color: rgb(0, 176, 189);
		text-align: center; 
		font-size:22px;
		font-family: 'Droid serif';

	}

	#flexContainerCol {
		display: flex;
		flex-direction: column;
	}

	#flexItem1 {
		margin: auto;
	}

	#flexItem2 {
		background-color: #f1f1f1;
		margin: auto;
		margin-bottom: 10px;
		height: 400px;
	}

	#flexItem2 p {
		color black;
		padding-top: 25px;
		padding-bottom: 10px;
		width: 320px;
		/*font-family: Calibre-Regular, sans-serif;*/
		/*font-family: sans-serif;*/
		font-family: 'Droid Sans' !important;
		font-size: 14px;
		background-color: #f1f1f1;
		padding-left: 10px;
		padding-right: 10px;
	}

	#flexItem2 h2 {
		color: rgb(0, 176, 189);
		font-size: 25px;
		padding-top: 5px;
		width: 320px;
	}

	#flexItem2 h3 {
		color: rgb(0, 176, 189);
		font-size: 18px;
		padding-top: 5px;
	}
	}


	.col-md-12, .col-sm-12, .col-xs-12{
		padding-left: 0px;
		padding-right: 0px;
	}

#flexItem2 h2#TECCMarBot {
 
    margin-bottom: 6px;
  }

	p#TECCPadTop {
		padding-top: 0px;
	}

	@media screen and (max-width: 767px) {

		.col-md-12, .col-sm-12, .col-xs-12{
			padding-left: 0px;
			padding-right: 0px;
		}

		#flexItem2 p {
			font-size: 14px;
			width: 267px;
			padding-top: 0px;
		}

		#custIntro {
		font-family: 'Droid serif';
		font-size: 16px;
		}

		#flexItem2 {
			height: auto;
		}

		#flexItem2 h3 {
			width: 267px;
		}

	}




</style>
